<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Notes API</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

  <h1>Notes API</h1>
  <p>Hey, Let's create some notes!</p>

  <h3>Create Note</h3>

  <input type="text" id="title" placeholder="Note title" />
  <br /><br />

  <textarea id="content" placeholder="Note content" rows="4"></textarea>
  <br /><br />

  <button onclick="createNote()">Create Note</button>

  <hr />

  <button onclick="loadNotes()">Load Notes</button>

  <ul id="notes"></ul>

  <script src="/js/application.js"></script>
</body>
</html>
